
/* shop page ürün tek foto */
.product-images img { 
    width: 100px;
    cursor: pointer;
}
.product-main-image img {
    width: 300px;
}
.review {
    margin-bottom: 20px;
}
   
/* stars */
.rating {
  display: flex;
  font-size: 1.5em; /* Yıldızların boyutunu ayarlayın */
}

.star {
  color: gray; /* Boş yıldızların rengi */
}

.star.filled {
  color: gold; /* Dolu yıldızların rengi */
}


/* rating section */
.rating-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Sola hizalama */
  margin-top: 20px;
}

.rating-display {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  gap: 10px; /* Butonlar arasındaki boşluk */
}

.rating-button {
  background-color: #f0f0f0; /* Açık gri arka plan */
  border: 1px solid #ccc;
  border-radius: 50%; /* Tam yuvarlak butonlar */
  padding: 0; /* İçerik içindeki boşluğu sıfırla */
  cursor: pointer;
  text-align: center;
  line-height: 30px; /* Yüksekliği içeriğe göre ayarla */
  width: 30px; /* Buton genişliği */
  height: 30px; /* Buton yüksekliği */
  font-size: 1em; /* Buton içeriği boyutu */
}

.rating-button:focus {
  outline: none;
}

.rating-value {
  margin: 0 10px;
  font-size: 1em; /* Değer boyutunu küçültme */
  font-weight: normal; /* Değer kalınlığını normal yapma */
}

.rating-description {
  margin-top: 10px;
  font-size: 1em;
  color: #333;
}

/* stras rating */
.star {
  color: gold; /* Yıldızların dolu kısmını sarı yapmak için */
}

.star-half-alt {
  color: gold; /* Yarım dolu yıldızları sarı yapmak için */
}

.far {
  color: gray; /* Boş yıldızları gri yapmak için */
}


.product-small-image {
  max-width: 50% !important; /* Görsel genişliğini %30 olarak ayarladık */
  height: auto;
  margin: 0 auto; /* Ortalamak için */
}
/* Dropdown sıralama menu style */
#review-sort-options {
  margin-bottom: 20px;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


#review-sort-options {
  min-width: 200px; /* Minimum genişlik ayarlandı */
  padding-right: 10px; /* Sağ tarafında ok simgesi için yeterli boşluk bırakıldı */
  padding-left: 10px; /* Sol tarafta da biraz boşluk */
  background-position: right 10px center; /* Ok simgesini sağa hizala */
}

.breadcrumb a{
  text-decoration: none;
}


@media (max-width: 768px) {

  .swiper-container {
      width: 100%;
      height: auto;
  }

  .swiper-slide img {
      width: 100%;
      height: auto;
      object-fit: cover;
  }

  .product-name {
      margin-top: 20px;
      font-size: 1.5rem;
      font-weight: bold;
  }
}

